@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #dedede;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
.background {
  background-image: url("/img/Portal/wall1.jpg");
  background-position: center center;
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background-size: 14vw;
}
.parent {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1% 0;
  filter: drop-shadow(0 0 1vw #00000075);
  flex-direction: column;
}
.title {
  background-color: #000000bb;
  display: flex;
  justify-content: center;
  width: 70%;
}
.title img {
  filter: invert(1) drop-shadow(0 0 0.5vw #000000ff);
  width: 60%;
  opacity: 1;
  padding: 2.5%;
}
.header {
  background-color: #27a7d890;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.2s;
  user-select: none;
}
.header img {
  width: 8%;
  aspect-ratio: 1/1;
  filter: grayscale(100%) brightness(100) drop-shadow(0 0 0.5vw #00000000);
  opacity: 0.9;
  padding: 1%;
  transition: 0.75s;
  transform: scale(0.8, 0.8);
}
.header img:hover {
  transform: rotate(180deg);
  filter: grayscale(100%) brightness(100) drop-shadow(0 0 0.5vw #ffffff75);
}
.content:nth-child(even) .header {
  background-color: #ff9a0090;
}
.content {
  background-color: #dedede;
  margin-top: 1%;
  display: flex;
  width: 70%;
  font-family: montserrat;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
}
.textContainer {
  overflow-y: scroll;
  height: 25vw;
  scrollbar-width:thin;
  scrollbar-color: #00000040 #ffffff00;
}
/* .textContainer img {
  filter: grayscale(100%) contrast(0) brightness(0%);
  opacity: 0.2;
}
  */
.content p {
  padding: 1%;
  text-align: justify;
  font-size: 1.5vw;
}
.content .header p {
  font-family: Oswald;
  font-size: 3vw;
  padding: 1% 3%;
  color: #ffffff;
  text-shadow: 0 0 1vw #ffffff00;
  text-transform: uppercase;
}
.options a {
  text-decoration: none;
  color: #202020;
  transition: 0.3s;
  cursor: pointer;
  font-family: Oswald;
  font-size: 3vw;
  padding: 1% 4%;
  text-transform: uppercase;
}
.options a:hover {
  background-color: #00000015;
}
.options {
  background-color: #dedede;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: montserrat;
}
.footer {
  background-color: #000000bb;
  filter: drop-shadow(0 0 1vw #00000075);
  font-family: montserrat;
}
.footerContent {
  font-size: 1.5vw;
  padding: 3.5% 0;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("/img/Portal/wall2.jpeg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 14vw;
  opacity: 1;
  line-height: 0;
}
.do-not {
  font-weight: 600;
}
p .blue {
  background-color: #27a7d890;
  color: #fff;
  text-decoration: none;
  text-shadow: (0 0 0.1vw #fff);
  transition: 0.1s;
  font-family: oswald;
  text-transform: uppercase;
  padding: 0% 0.5%;
  border-radius: 0.5vw;
}
p .orange {
  background-color: #ff9a0090;
  color: #fff;
  text-decoration: none;
  text-shadow: (0 0 0.1vw #fff);
  transition: 0.1s;
  font-family: oswald;
  text-transform: uppercase;
  padding: 0% 0.5%;
  border-radius: 0.5vw;
}